.chess-board {
  width: 640px;
  height: 640px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.selected {
  outline: 4px solid black;
  outline-offset: -4px;
}

.square {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 60px;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}
